{% extends 'watch/base.html' %}
{% block title %}All watches | 18Watch.com{% endblock %}

{% block carousel %}



	<!-- Background image -->
	<div src="media/images/slide_1.jpg" style="background-image: url(/media/images/banner.jpg); top: 37px;position: absolute; max-height: 400px; left: 0;
	right: 0;
	bottom: 0;
	top: 37px;
	background-position: 50% 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	z-index: -1;max-width:100%"></div>
<!-- Filter Panel -->
<div class="fh5co-main" style="padding-top:365px">
	<div class="container">

		<div  class="span12" style="background-color:#337ab7; border-radius: 10px; height:125px; width:100%; padding:38px 15px 30px 15px">
			{% csrf_token %}
			<form id="index_filter">
			<!-- Filter Brand -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="filter_brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%; background-color:transparent">
			  		品牌
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%; margin-top:-20px">
			  	  {% for brand in brand_list %}
					<li class="list-group-item">
						<div class="checkbox" >
							<label>
								<input type="checkbox" value="{{ brand.name }}" {% if brand.name in selected_brand_list %} checked {% endif %} class="brand" >
								{{ brand.name }}
							</label>
						</div>
					</li>
				  {% endfor %}
				  </ul>
		  		</div>
			</div>

			<!-- Filter Type -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="filter_movement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%; background-color:transparent">
					  類型
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%; margin-top:-20px">
					  {% for movement in movement_list %}
						<li class="list-group-item">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="{{ movement }}" class="movement" >
									{{ movement }}
								</label>
							</div>
						</li>
					  {% endfor %}
					</ul>
			  </div>
			</div>

			<!--&lt;!&ndash; Filter Price &ndash;&gt;-->
			<div class="col-xs-6 col-sm-3 col-md-3" style="top:-8px">
				<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapse0">
				<i class="indicator fa fa-caret-down" aria-hidden="true"></i>

				</a>
				</h4>
				<h4>
				<input type="text" id="amount" min_price={{ request.session.filter_price_min }} max_price={{ request.session.filter_price_max }}  style="color:white; border:0; background-color:#337ab7; font-weight:bold; width:200px">
				</h4>
				<div id="slider-range" style="margin-bottom:15px"></div>
			</div>

			<!-- Submit button -->
			<div class="col-xs-6 col-sm-3 col-md-3">
				<button class="btn btn-default dropdown-toggle" type='submit' style="width:100%; background-color:green">提交</button>
			</div>
			</form>
		</div>
	</div>
</div>

<!-- Browse by __ -->
<div class="fh5co-main" style="padding-top:50px">
	<div class="container">

		<div class="col-md-6 col-sm-12"><h2>以品牌搜索</h2>
			<div class="row">
				{% for brand in browse_by_brand_list %}
					<div class="col-md-3" style="text-align: center; padding-top:15px; padding-bottom:15px"><input type="image" id="browsebybrand{{ brand.name }}" value="{{ brand.name }}" src="/media/{{ brand.logo }}" style="width:82px; height:82px"><br />{{ brand.name }}</div>
				{% endfor %}

			</div>
		</div>
		<div class="col-md-6 col-sm-12"><h2>以分類搜索</h2>
			<div class="row">
				<div class="col-md-3" style="text-align: center; padding-top:15px; padding-bottom:15px"><input type="image" id="browsebytypemen" value="men" src="/media/icon/men.svg" style="width:82px; height:82px"><br />男裝錶</div>
				<div class="col-md-3" style="text-align: center; padding-top:15px; padding-bottom:15px"><input type="image" id="browsebytypewomen" value="women" src="/media/icon/women.svg" style="width:82px; height:82px"><br />女裝錶</div>
				<div class="col-md-3" style="text-align: center; padding-top:15px; padding-bottom:15px"><input type="image" id="browsebymovementautomatic" value="automatic" src="/media/icon/automatic.svg" style="width:82px; height:82px"><br />自動錶</div>
				<div class="col-md-3" style="text-align: center; padding-top:15px; padding-bottom:15px"><input type="image" id="browsebymovementmanuel" value="manuel" src="/media/icon/manuel.svg" style="width:82px; height:82px"><br />手動錶</div>
			</div>
		</div>
	</div>
</div>

<div class="fh5co-main" style="padding-top:100px">
	<div class="container">

		<!-- Recommended New release & Most Popular -->
		<div class="span12">
			<div id="tab" class="btn-group" data-toggle="buttons-radio">
			  <a href="#new_release" class="btn btn-large btn-info active" data-toggle="tab">最受歡迎</a>
			  <a href="#most_popular" class="btn btn-large btn-info"  data-toggle="tab">最新發怖</a>
			</div>


			<div class="tab-content">
				<div class="tab-pane active" id="new_release">
					<div class="container">
						<div class="row" style="padding-top:25px">
							{% for watch in feature_list %}
							<div class="col-xs-4 col-sm-3" style="padding-left:10px; padding-right:10px">
								<div class="card">
									<a class="img-card various" href="/watch/{{ watch.id }}">
										<img src="/media/{{ watch.pic }}" style="width:100%px; height:auto;"/>
									</a>
									<div class="card-content">
										<h4>{{ watch.watch_brand }}</h4>
										<h5><a href="/watch/{{ watch.id }}">{{ watch.name }}</a></h5>
										<h3><b>HK${{ watch.price }}</b></h3>
									</div>
									<div class="card-read-more">
										<a class="btn btn-link btn-block" href="/watch/{{ watch.id }}" style="color: black">
											VIEW DETAIL
										</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

					</div>

				</div>

				<div class="tab-pane" id="most_popular">
					 <div class="container">
						<div class="row" style="padding-top:25px">
							{% for watch in latest_list %}
							<div class="col-xs-6 col-sm-3" style="padding-left:10px; padding-right:10px">
								<div class="card">
									<a class="img-card various" href="/watch/{{ watch.id }}">
										<img src="/media/{{ watch.pic }}" style="width:275px; height:275px;"/>
									</a>
									<div class="card-content">
										<h4><a href="/watch/{{ watch.id }}">{{ watch.name }}</a></h4>
										<h3><b>HK${{ watch.price }}</b></h3>
										<h5>Seller:<b> {{ watch.owner }}</b></h5>
									</div>
									<div class="card-read-more">
										<a class="btn btn-link btn-block" href="/watch/{{ watch.id }}" style="color: black">
											VIEW DETAIL
										</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 錶行銀庫-->
<div class="fh5co-main" style="padding-top:100px">
	<div class="container">
		<div class="container">
			<h2>錶行錶庫</h2>
			<div class="row" style="padding-top:25px">
				{% for watch in commercial_watch_list %}
				<div class="col-xs-4 col-sm-2" style="padding-left:10px; padding-right:10px">
					<div class="card">
						<a class="img-card various" href="/watch/{{ watch.id }}">
							<img src="/media/{{ watch.pic }}" style="width:100%px; height:auto;"/>
						</a>
						<div class="card-content">
							<h4><a href="/watch/{{ watch.id }}">{{ watch.name }}</a></h4>
							<h3><b>HK${{ watch.price }}</b></h3>
							<h5><b> {{ watch.brand_name }}</b></h5>
						</div>
						<div class="card-read-more">
							<a class="btn btn-link btn-block" href="/watch/{{ watch.id }}" style="color: black">
								VIEW DETAIL
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>

	</div>
</div>

<div class="fh5co-main" style="padding-top:100px">
	<div class="container">
		<div class="container">
			<h2>私人錶庫</h2>
			<div class="row" style="padding-top:25px">
				{% for watch in personal_watch_list %}
				<div class="col-xs-4 col-sm-2" style="padding-left:10px; padding-right:10px">
					<div class="card">
						<a class="img-card various" href="/watch/{{ watch.id }}">
							<img src="/media/{{ watch.pic }}" style="width:100%px; height:auto;"/>
						</a>
						<div class="card-content">
							<h4><a href="/watch/{{ watch.id }}">{{ watch.name }}</a></h4>
							<h3><b>HK${{ watch.price }}</b></h3>
							<h5><b> {{ watch.brand_name }}</b></h5>
						</div>
						<div class="card-read-more">
							<a class="btn btn-link btn-block" href="/watch/{{ watch.id }}" style="color: black">
								VIEW DETAIL
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>

	</div>
</div>
<div class="fh5co-main" style="padding-top:100px">
	<div class="container" style="text-align: center">

		<h2>Find a Place to Pop-up</h2>
		<h5>A progeoprgjer</h5>
		<div class="row">
			<div class="col-md-4">
				<h2>img</h2>
				<h2>Choose a location</h2>
				<p>storefrontreiongeoign egiofne eroin rioerio jreoij reioreio neriof neior nfioernf eiornf eionf eiofneoifnerfoiernf ieorfneoifn</p>
			</div>

			<div class="col-md-4">
				<h2>img</h2>
				<h2>Choose a location</h2>
				<p>storefrontreiongeoign egiofne eroin rioerio jreoij reioreio neriof neior nfioernf eiornf eionf eiofneoifnerfoiernf ieorfneoifn</p>
			</div>

			<div class="col-md-4">
				<h2>img</h2>
				<h2>Choose a location</h2>
				<p>storefrontreiongeoign egiofne eroin rioerio jreoij reioreio neriof neior nfioernf eiornf eionf eiofneoifnerfoiernf ieorfneoifn</p>
			</div>
		</div>


		<button class="btn btn-default dropdown-toggle" type="submit" style="width:300px; background-color:green">Get Started for FREE!</button>
	</div>

</div>
{% endblock %}
{% block body %}


	<div class="fh5co-bg-section" style="background-image: url(media/images/slide_2.jpg); background-attachment: fixed;">
		<div class="fh5co-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="fh5co-hero-wrap">
						<div class="fh5co-hero-intro text-center">
							<h2 class="fh5co-lead">所有品牌</h2>
							<ul class="brand_list">{% for brand in brand_list %}
								<li><img style="width:50px; height:50px" src="/media/{{ brand.logo }}" >{% endfor %}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}








