{% extends "watch/base.html" %}

{% block body %}
{% csrf_token %}
<div class="fh5co-main" style="padding-top:70px">
    <div class="container" >
	<div class="row">
		<h1>Inventory Management <span class="title-label"></h1>
        <h3>Account Name：{% load account %}{% user_display user %}</span></h3>
        <input type="button" onclick="window.location.href='/watch/create'" value="新建貨品"></input>

        <div class="table-responsive col-md-12">
            <table name="ogmoaieg" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Watch Name</th><th>狀態</th>
                        <th>角色</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for watch in watches %}
                    <tr>
                        <td><p>{{ watch.name }}</p></td>
                        <td><p><span class="label label-success">Activate</span></p></td>
                        <td><p>Admin</p></td>
                        <td class="col-md-2"><p>
                            <input type="button" onclick="window.location.href='/watch/{{ watch.id }}/edit/'" value="修改貨品"></input>
                            <form id="delete_{{ watch.id }}" action="{% url 'watch:entry-delete' watch.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="删除貨品" />
                            </form>
                        </p></td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
        </div>
        <div class="pull-right">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
	</div>
</div>
</div>
{% endblock %}