{% extends 'watch/base.html' %}
{% block title %}product{% endblock %}

{% block body %}
<script>
	$(document).ready(function() {
    var filter_price_max = $( "#slider-range" ).slider( "values", 1 );
    var filter_price_min = $( "#slider-range" ).slider( "values", 0 )
	$.ajax({
            url: "/search/",
            type: "POST",
            async: false,
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val(),
                filter_price_min,
                filter_price_max
            },
            success: function(){
                 $('#search-results').load('/search/');
            }
        });
})

</script>

<div id="fh5co-main" style="padding-top:100px">
  <div class="container">
    <div class="row">


		<!--Filter Panel -->
	  	{% csrf_token %}
	    <form id="filter_panel"  class="hidden-sm">
		  <div class="col-md-3">
		    <div id="accordion" class="panel panel-primary behclick-panel">
			  <div class="panel-heading">
				 <h4 class="panel-title">Search Filter</h4>
			  </div>
			  <div class="panel-body" >
		 		<!-- Filter Brand -->
			    <div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="filter_brand" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%; background-color:transparent">
			  		Brand
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%; margin-top:-20px">
			  	  {% for brand in brand_list %}
					<li class="list-group-item">
						<div class="checkbox" >
							<label>
								<input type="checkbox" value="{{ brand.name }}" {% if brand.name in selected_brand_list %} checked {% endif %} class="brand" >
								{{ brand.name }}
							</label>
						</div>
					</li>
				  {% endfor %}
				  </ul>
		  		</div>
				<!-- Filter Color -->
				  <div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="filter_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%; background-color:transparent">
					  Color
					  <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%; margin-top:-20px">
					  {% for color in color_list %}
						<li class="list-group-item">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="{{ color }}" class="color" >
									{{ color }}
								</label>
							</div>
						</li>
					  {% endfor %}
					</ul>
				  </div>

				<!-- Filter Movement -->
				  <div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="filter_movement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%; background-color:transparent">
					  Movement
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:100%; margin-top:-20px">
					  {% for movement in movement_list %}
						<li class="list-group-item">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="{{ movement }}" {% if movement in selected_movementgit %} checked {% endif %}  class="movement" >
									{{ movement }}
								</label>
							</div>
						</li>
					  {% endfor %}
					</ul>
				  </div>

				<!-- AJAX Price range -->
				<h4 class="panel-title">
				<a data-toggle="collapse" href="#collapse0">
				<i class="indicator fa fa-caret-down" aria-hidden="true"></i>
				<h4 style="color: white">Price</h4>
				</a>
				</h4>
				<h4>
				<input type="text" id="amount" min_price={{ filter_price_min }} max_price={{ filter_price_max }}  style="color:white; border:0; background-color:#337ab7; font-weight:bold; width:200px">
				</h4>
				<div id="slider-range" style="margin-bottom:15px"></div>


				  <!--Collapsible list -->
<!--<div class="panel-heading" >-->
	<!--<h4 class="panel-title">-->
		<!--<a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Collapsible list group</a>-->
	<!--</h4>-->
<!--</div>-->
<!--<div id="collapse2" class="panel-collapse collapse">-->
	<!--<ul class="list-group">-->
		<!--<li class="list-group-item">-->
			<!--<div class="checkbox">-->
				<!--<label>-->
					<!--<input type="checkbox" value="">-->
					<!--7-->
				<!--</label>-->
			<!--</div>-->
		<!--</li>-->
		<!--<li class="list-group-item">-->
			<!--<div class="checkbox" >-->
				<!--<label>-->
					<!--<input type="checkbox" value="">-->
					<!--8-->
				<!--</label>-->
			<!--</div>-->
		<!--</li>-->
		<!--<li class="list-group-item">-->
			<!--<div class="checkbox">-->
				<!--<label>-->
					<!--<input type="checkbox" value="">-->
					<!--9-->
				<!--</label>-->
			<!--</div>-->
		<!--</li>-->
	<!--</ul>-->
<!--</div>-->
				</div>
			</div>
		</div>
		</form>
	<div class="col-md-9">
		<div id="search-results">
			{% include 'watch/search_result.html' %}
		</div>
	</div>


			</div>
		</div>
	</div>
<script type="text/javascript">
		var filter_brand_list = [{% for brand in brand_list %}"{{ brand.name }}",{% endfor %}];
</script>
{% endblock %}

