{% extends 'watch/base.html' %}
{% block title %}product{% endblock %}
{% block body %}
<div class="fh5co-main" style="padding-top:100px">
	<div class="container">
		<h3>18Watch免責聲明 及相關條款</h3>

		<h5>
			18Watch不會就本網站或本網站所提供內容的準確性、完整性、時效性、適時性提供任何保證，也不就有關內容是否涉及侵權、擁有權、商業潛力、或是否適用於某一特定用途提供任何保證。
		</h5><br />
		<h5>
			18Watch有權利更改資料之錯誤部份或刪除使用者刊登的資料並保留一切權利，隨時刪增、修訂及拒絕任何內容、聲明、功能及會員資格，並不作通知。
		</h5><br />

		<h5>使用者不可</h5>
		<ol style="color: black;">
			<li>刊登含有粗言穢語、色情、無謂之文字及圖片；</li>
			<li>濫用、重複刊登相同資料，及必須合乎相關規定和規格；</li>
			<li>亂輸入及選擇資料；</li>
			<li>留言板中刊登商業宣傳留言；</li>
			<li>任何形式冒充他人刊登及留言；</li>
			<li>以任何形式將會員服務轉讓及售予第三方；</li>
			<li>任何形式複製或仿製任何內容。</li>
		</ol>
		<br />
		<h5>
			如有違反，使用者需自行承擔資料及功能帶來的所有影響，風險及損失。使用者需自行確保所刊登的資料均合乎法律及權利，及自行承擔所有責任。
		</h5>
		<br />
		<h5>
			所有內容均為刊登及留言者之個人意見，而所有買賣均為使用者或廣告商戶之間的交易，使用者不得利用網站作任何非法組織或活動，有關事項與 18Watch 立場無關，亦不會為交易物品及服務的安全、合法、質素等方面負上責任。
		</h5>


	</div>
</div>
    {% endblock %}