{% extends "watch/base.html" %}

{% block body %}
<div class="fh5co-main" style="padding-top:70px">
    <div class="container" style="text-align:center" >
        <h2>18Watch的想法</h2>
        <img src="/media/images/pic1.png">
	    <h3>愛・腕錶是一輩子的事</h3>
        <p>腕錶的耐用性從來沒有人會質疑，好好地保養、愛惜，一輩子的事並非不可能的任務。其性價比，相信作為腕錶的愛好者會清楚明白。</p>
        <img src="/media/images/pic2.png">

        <h3>滙聚世界品牌，凸顯尊貴身份</h3>
        <p>聞說⋯⋯戴腕錶的男人顯得更有品味 而女人就顯得更有韻味。腕錶的魅力在於他低調而不閃耀，內在美配合其外在美另他更顯格調。</p>
        <img src="/media/images/pic3.png">
        <h2>時間是生命，時間是金錢<br>
            腕錶是量度生命金錢的工具
        </h2>
	</div>
</div>
</div>
{% endblock %}