{% extends 'watch/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'watch/css/product.css' %}">
<!-- new stuff-->

<script type="text/javascript" src="{% static 'watch/js/jquery.fancybox-plus.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'watch/css/jquery.fancybox-plus.css' %}" media="screen">
<script type="text/javascript" src="{% static 'watch/js/jquery.ez-plus.js' %}"></script>
<!--<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.17/css/jquery.ez-plus.css" media="screen">-->
<!--<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.17/demo/js/web.js?m=20100203"></script>-->

<style>
/*set a border on the images to prevent shifting*/
#gallery_01 img {
border: 2px solid white;
}

/*Change the colour*/
.active img {
border: 2px solid #333 !important;
}
</style>
<!-- End of new stuff-->

<div class="fh5co-main" style="padding-top:65px">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
            <h2>{{ watch.watch_brand }} - {{ watch.name }}</h2>
            </div>
           <div class="col-md-5">
                <img id="img_01" src="/media/{{ watch.pic_s }}" data-zoom-image="/media/{{ watch.pic_l }}" style="width:450px; height:450px"/>
                <div id="gal1">
                    <div class="row" style="margin-top:30px">
                        <div class="col-md-3">
                        <a href="#" data-image="/media/{{ watch.pic_s }}" data-zoom-image="/media/{{ watch.pic_l }}">
                            <img id="img_01" src="/media/{{ watch.pic_s }}"/>
                        </a>
                        </div>
                        <div class="col-md-3">
                        <a href="#" data-image="/media/{{ watch.pic2_s }}" data-zoom-image="/media/{{ watch.pic2_l }}">
                            <img id="img_01" src="/media/{{ watch.pic2_s }}"/>
                        </a>
                        </div>
                        <div class="col-md-3">
                        <a href="#" data-image="/media/{{ watch.pic3_s }}" data-zoom-image="/media/{{ watch.pic3_l }}">
                            <img id="img_01" src="/media/{{ watch.pic3_s }}"/>
                        </a>
                        </div>
                        <div class="col-md-3">
                        <a href="#" data-image="/media/{{ watch.pic_s }}" data-zoom-image="/media/{{ watch.pic_l }}">
                            <img id="img_01" src="/media/{{ watch.pic_s }}"/>
                        </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-7" style="border:0px solid gray">

                <h1>${{ watch.price }}</h1>

                <!-- Detalles especificos del producto -->
                <div class="section">
                    <h5>Seller</h5>
                    <h2>{{ watch.owner }}</h2>
                            <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
                        <div>
                            <span class="glyphicon glyphicon-user"></span>1,050,008 total
                        </div>
                </div>


                <!-- Botones de compra -->
                <div class="section" style="padding-bottom:20px;">
                    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Contact the buyer</button>
                    <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span>Add to favorite list</a></h6>
                </div>
            </div>

            <div class="col-xs-9">
                <ul class="menu-items">
                    <li class="active">Detalle del producto</li>
                    <li>Garantía</li>
                    <li>Vendedor</li>
                    <li>Envío</li>
                </ul>
                <div style="width:100%;border-top:1px solid silver">
                    <p style="padding:15px;">
                        <small>
                        Stay connected either on the phone or the Web with the Galaxy S4 I337 from Samsung. With 16 GB of memory and a 4G connection, this phone stores precious photos and video and lets you upload them to a cloud or social network at blinding-fast speed. With a 17-hour operating life from one charge, this phone allows you keep in touch even on the go.

                        With its built-in photo editor, the Galaxy S4 allows you to edit photos with the touch of a finger, eliminating extraneous background items. Usable with most carriers, this smartphone is the perfect companion for work or entertainment.
                        </small>
                    </p>
                    <small>
                        <ul>
                            <li>Super AMOLED capacitive touchscreen display with 16M colors</li>
                            <li>Available on GSM, AT T, T-Mobile and other carriers</li>
                            <li>Compatible with GSM 850 / 900 / 1800; HSDPA 850 / 1900 / 2100 LTE; 700 MHz Class 17 / 1700 / 2100 networks</li>
                            <li>MicroUSB and USB connectivity</li>
                            <li>Interfaces with Wi-Fi 802.11 a/b/g/n/ac, dual band and Bluetooth</li>
                            <li>Wi-Fi hotspot to keep other devices online when a connection is not available</li>
                            <li>SMS, MMS, email, Push Mail, IM and RSS messaging</li>
                            <li>Front-facing camera features autofocus, an LED flash, dual video call capability and a sharp 4128 x 3096 pixel picture</li>
                            <li>Features 16 GB memory and 2 GB RAM</li>
                            <li>Upgradeable Jelly Bean v4.2.2 to Jelly Bean v4.3 Android OS</li>
                            <li>17 hours of talk time, 350 hours standby time on one charge</li>
                            <li>Available in white or black</li>
                            <li>Model I337</li>
                            <li>Package includes phone, charger, battery and user manual</li>
                            <li>Phone is 5.38 inches high x 2.75 inches wide x 0.13 inches deep and weighs a mere 4.59 oz </li>
                        </ul>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>






</div>
<script>
jQuery(document).ready(function () {

    var $ctb = $('.table tbody'),
        $cta = $ctb.find('td .arrow'),
        $ctr = $cta.parents('tr');
    //
    ////	object toggelen
    //$cta.click(function () {
    //    return false;
    //});
    //$ctr.find('td:lt(2)').hover(
    //    function () {
    //        $(this).parent().addClass('hover');
    //    },
    //    function () {
    //        $(this).parent().removeClass('hover');
    //    }
    //).click(function () {
    //        $('span.params', this).toggle();
    //        $(this).parent().toggleClass('closed').find('td:eq(1) small span').each(function () {
    //            if (this.style.display === 'none')    $(this).show();
    //            else                                $(this).hide();
    //        });
    //        var obj = $('.' + $(this).parent().next().attr('id'));
    //        if (obj[0].style.display === 'none')    obj.show();
    //        else                                    obj.hide();
    //        return false;
    //    }).css('cursor', 'pointer').end().find('td:lt(1)').click();
    //
    ////	achtergrond even/oneven
    $ctb.each(function () {
        var ctrn = 0;
        $('.table tbody tr:odd').addClass('odd');
        $('.table tbody tr:even').addClass('even');

    });

    //	code + italic
    $ctb.find('tr').each(function () {
        if ($('td', this).length === 5) $(this).find('td:eq(2)').wrapInner('<code />').end().find('td:eq(3)').addClass('italic');
        if ($('td', this).length === 4) $(this).find('td:eq(2)').addClass('italic');
        if ($('td', this).length === 3) $(this).find('td:eq(1)').addClass('italic');
    });

    /*
     *   Zebra-stripping table
     */

    //$('table.options tr:even').addClass('even');
});


$(document).ready(function () {

    // Using custom configuration
    $('#img_01').ezPlus({
        zoomWindowFadeIn: 500,
        zoomLensFadeIn: 500,
        zoomType: 'inner',
        gallery: 'gal1',
        imageCrossfade: true,
        zoomWindowWidth: 450,
        zoomWindowHeight: 450,
        zoomWindowOffsetX: 10,
        scrollZoom: true,
        cursor: 'crosshair'
    });


    <!--$('#img_01').bind('click', function (e) {-->
        <!--var ez = $('#img_01').data('ezPlus');-->
        <!--$.fancyboxPlus(ez.getGalleryList());-->
        <!--return false;-->
    <!--});-->
    $('#img_02').ezPlus({
        gallery: 'gal2',
        tint: true,
        cursor: 'crosshair',
        windowHeight: 600
    });
    $('#img_03').ezPlus({
        zoomType: 'lens',
        lensShape: 'round',
        lensSize: 200
    });


    <!--$('#img_02').bind('click', function (e) {-->
        <!--var ez = $('#img_02').data('ezPlus');-->
        <!--$.fancyboxPlus(ez.getGalleryList());-->
        <!--return false;-->
    <!--});-->


});

$(document).ready(function () {
    $(function () {
        var slide_duration = 1000;
        $('.view_source').click(function () {
            t = $(this).attr('rel');
            h = $('.' + t + '');
            h.slideToggle(slide_duration);
            if ($(this).html() === 'SHOW THE CODE') {
                $(this).html('HIDE THE CODE');
                h.show();
            }
            else {
                $(this).html('SHOW THE CODE');
            }
            //slideToggle(slide_duration);
            //	s.find('div.script:not('+h+')').slideUp(slide_duration);

            return false;
        });
    });
});


</script>
{% endblock %}

